.vs
.vscode
*.user
obj
bin
project.lock.json
.cr

# Used by docfx as the conventional output directory.
# (We could put this under obj if that became simpler; see
# docfx.json.)
_site

# Used in generateprotos.sh
packages
tmp
googleapis
